/* Tipografia */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* 
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css'); */

/*
----------------------------------------------
----------MENU
----GLOBAL
----NAVBAR
----FOOTER
----
----
----------------------------------------------
*/
:root{
  --fondo:#1a1a1a;/* nadvar azul 25294a guinda 910028 negrito 1a1a1a */
  --fondo2:#f3f3f3d5;   /* #e9ecf7 */
  --fondoForm:#2d325a;
  --white: #ffffff;
  --yellow:  #f0e556 ;
  --guinda: #910028;
  --light-blue: #51b1dd;
  --borderForm: #3944a1;
  --button-blue: #0084ff;     
  --border-gray: #aaa;
  --button-gray: #777D74;
  --line-blue: #4070f4;
  --red: #e31b23;
  --green: #18ac18;
  --disabled-button: #777D74;
  }
  
  /*------GLOBAL------*/
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

.body{
  height: 100vh;
}
/*
----------------------------------------------
-----NAVBAR
----------------------------------------------
*/
.logo-navbar{
  width: 160px;/* tamaño de logo */
}
nav{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(29, 24, 24, 0.2);
  z-index: 99;
  height: 65px;
  margin: 0 !important;
  border-bottom: 2px solid #c92b2b;
}
nav .divNav{
  height: 100%;
  max-width: 1550px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
}
.divNav .logoNav a{
  font-size: 50px;
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
}
nav .divNav .navlinks{
  line-height: 7vh;
}
nav .divNav .option-menu{
  display: flex;
}
nav .divNav .option-menu li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .divNav .option-menu li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 500;
}
.option-menu li:hover .spin-arrow,
.option-menu li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .divNav .option-menu li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: var(--white);
  transition: all 0.3s ease;
}
nav .divNav .option-menu li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 55px;
  background: var(--fondo);
  box-shadow: 0 1px 2px rgba(179, 92, 92, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .divNav .option-menu li:hover .options-group,
nav .divNav .option-menu li:hover .js-sub-menu{
  display: block;
}
.divNav .option-menu li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(163, 60, 60, 0.753);
}
.divNav .option-menu li .sub-menu a{
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
}

.divNav .option-menu li .sub-menu .more-arrow{
  line-height: 40px;
}
.divNav .option-menu li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.option-menu li .sub-menu .option-sub-menu:hover .more-sub-menu{
  display: block;
}
.divNav .navlinks .sidebarLogo{
  display: none;
}
.divNav .bars-menu{
  display: none;
}
 
 @media (max-width:1124px) {
  nav .divNav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .divNav .logoNav a{
    font-size: 30px;
  }
  nav .divNav .option-menu li{
    padding: 0 15px;
    white-space: nowrap;
  }
  nav .divNav .option-menu li a{
    font-size: 15px;
  }
  .divNav .option-menu li .sub-menu a{
    font-size: 12px;
  }
}
  /*dimencion  768 x 1024 ipad */
@media (max-width:800px){
  .divNav .bars-menu{
    display: block;
  }
  .home-logo{
    display: block;
    margin:  150px auto;
    width: 300px;
  }

  /* colum menu */
  nav .divNav .navlinks{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  var(--fondo);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .divNav .navlinks .sidebarLogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebarLogo .menuNav{
    font-size: 30px;
    color: var(--white);
  }
  .sidebarLogo  .xmark,
  .divNav .bars-menu{
    font-size: 50px;
    color: var(--white);
  }
  nav .divNav .option-menu{
    display: block;
    margin-top: 20px;
  }
  nav .divNav .option-menu li .arrow{
    line-height: 40px;
  }
nav .divNav .option-menu li{
    display: block;
  
  }

.divNav .option-menu li .sub-menu a{
    font-size: 20px;   
  }

nav .divNav .option-menu li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .divNav .option-menu li .sub-menu li{
  border-bottom: none;

}
.divNav .option-menu li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.divNav .option-menu li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.option-menu li:hover .spin-arrow,
.option-menu li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .divNav .option-menu li .sub-menu .more-sub-menu{
    display: none;
  }
  .divNav .option-menu li .sub-menu .option-sub-menu span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .option-menu li .sub-menu .option-sub-menu:hover .more-sub-menu{
    display: none;
  }
  nav .divNav .option-menu li:hover .options-group,
  nav .divNav .option-menu li:hover .js-sub-menu{
    display: none;
  }
.divNav .navlinks.show1 .option-menu .options-group,
  .divNav .navlinks.show3 .option-menu .js-sub-menu,
  .divNav .navlinks.show2 .option-menu .option-sub-menu .more-sub-menu{
      display: block;
    }
    .divNav .navlinks.show1 .option-menu .spin-arrow,
    .divNav .navlinks.show3 .option-menu .js-arrow{
        transform: rotate(180deg);
}
    .divNav .navlinks.show2 .option-menu .more-arrow{
      transform: rotate(90deg);
    }
}
/* dimencion 375 de celular */
@media (max-width:375px){
  nav .divNav .navlinks{
  max-width: 100%;
}
/* colum menu */
nav .divNav .navlinks{
  max-width: 200px;
  line-height: 25px;
  padding: 10px;
}
.sidebarLogo .menuNav{
  font-size: 20px;
  color: var(--white);
}
.sidebarLogo  .xmark,
.divNav .bars-menu{
  font-size: 30px;
  color: var(--white);
}
nav .divNav .option-menu{
  display: block;
  margin-top: 15px;
}
nav .divNav .option-menu li .arrow{
  line-height: 30px;
}
.divNav .option-menu li .sub-menu a{
  font-size: 15px;   
}
}


/*-------------------------------------------
-----------------FOOTER
--------------------------------------------*/
.footer-distributed{
	background: var(--fondo);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: bold 20px sans-serif;
	padding: 10px 0;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
  width: 32%;
}

/*----Footer left----*/
  /* The company logo */
.footer-distributed h3{
	color:  #ffffff;
	margin: 0 25px;
  font-weight: bold;
}
/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 8px 12px 12px;
  font-size: 14px;
	padding: 0;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1;
  font-weight: 200;
	text-decoration: none;
	color: inherit;
}
.footer-distributed .footer-company-name{
	color:  rgb(201, 19, 19);
	font-size: 18px;
	font-weight: normal;
	margin: 0 20px;
}
/* Footer Center */
.footer-distributed .footer-center .icon{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 15px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	line-height: 26px;
	margin: 2px 6px;
	vertical-align: middle;
  position: relative;
  display: inline-block !important; 
}
.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;
  font-size: 14px;
}
.footer-distributed .footer-center p{
  display: inline-block;
	color: #ffffff;
  font-weight:200;
	vertical-align: middle;
	margin:0;
  padding-left: 1px;
  font-size: 14px;
  padding-top: 10px;
}
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:250;
  font-size: 14px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
/* Footer Right */
.footer-distributed .footer-company-about{
	line-height: 14px;
	color:  #92999f;
	font-size: 14px;
	font-weight: normal;
	margin: 0 8px;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 16px;
}
.footer-distributed .footer-icons{
	margin-top: 20px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 4px;
	font-size: 24px;
	color: #ffffff;
	line-height: 32px;
	margin-bottom: 5px;
}
@media (max-width: 1024px) {

  .footer-distributed{
    padding: 10px 0;
  }
  /* Footer left */
  .footer-distributed .footer-left{
    width: 34%;
    text-align: center;
  }
  /* The company logo */
  .footer-distributed h3{
    font-size: 18px;
  }
  /* Footer links */
  .footer-distributed .footer-links{
    margin: 10px 15px 6px;
    font-size: 12px;
  }
  .footer-distributed .footer-links a{
    line-height: 1.5;
    font-weight:none;
  }
  .footer-distributed .footer-company-name{
    font-size: 16px;
  }

  /* Footer Center */
  .footer-distributed .footer-center{
    width: 30%;
  }
  .footer-distributed .footer-center .icon{
    font-size: 14px;
    width: 25px;
    height: 25px;
    line-height: 28px;
    margin: 0 5px;
  }
  .footer-distributed .footer-center p a{
    font-size: 14px;
  }
  .footer-distributed .footer-center p{
    font-weight:250;
    margin: 0;
    padding-left: 0;
    font-size: 14px;
    padding-top: 10px;
  }
  .footer-distributed .footer-links a:before {
    font-weight:200;
    font-size: 22px;
    padding-right: 8px;
  }

  /* Footer Right */
  .footer-distributed .footer-right{
    width: 34%;
    text-align: center;
  }
  .footer-distributed .footer-company-about{
    font-size: 12px;
  /* margin: 10px 15px 6px; */
  }
  .footer-distributed .footer-icons a{
    line-height: 40px;
  }
}
@media(max-width: 600px){

  /* Footer left */

  /* The company logo */
  .footer-distributed h3{
    font-size: 16px;
  }
  /* Footer links */
  .footer-distributed .footer-links{
    margin: 8px 12px 6px;
    font-size: 12px;
  }
  /* Footer Center */
  .footer-distributed .footer-center .icon{
    line-height: 24px;
  }
  .footer-distributed .footer-center p a{
    font-size: 12px;
  }
  .footer-distributed .footer-center p{
    font-size: 12px;
  }
  .footer-distributed .footer-links a:before {
    font-weight:200;
    font-size: 22px;
    padding-right: 8px;
  }
  /* Footer Right */
  .footer-distributed .footer-right{
    width: 34%;
    text-align: center;
  }
  .footer-distributed .footer-company-about{
    font-size: 10px;
  }

}
@media (max-width: 400px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  /* Footer Center */
  .footer-distributed .footer-center .icon{
    margin: 0 5px;
  }
  /* Footer Right */      
  .footer-distributed .footer-icons a{  
    font-size: 24px;
  }
}
/*
----------------------------------------------
-----FORMULARIOS ARTICLE, PRODUCT, BRAND
----------------------------------------------
*/

  /* producto, categoria, marca, color */
  .body-register-marca,
  .body-register-category,
  .body-register-product{
    display: inline-block;
    height: 100vh;
      display: flex;
      align-items: start;
     /*  padding-top: 85px; *//* espacio entre el nav y el body*/
      justify-content: center;
      background: var(--fondo2);
      box-sizing: border-box;
  }

  /* formulario
  producto, categoria, marca, color */
  .register-container-marca,
  .register-container-category,
  .register-container-product{
    
    margin: 85px 0;
     border-radius: 5px;
     padding: 30px;
     background-color: #fff;
     box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .register-container-marca,
  .register-container-category{
    width: 98%;
    height: 450px;
  }

  /* titulo */
  .register-container-marca header,
  .register-container-category header,
  .register-container-product header{
      position: relative;
      font-size: 30px;
      font-weight: 500;
      color: #333;
      font-weight: bold;
      text-align: center;
  }
  /* linea divisora - producto, categoria, marca */
  .register-container-marca header::before,
  .register-container-category header::before,
  .register-container-product header::before{
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      height: 3px;
      width: 100%;
      border-radius: 8px;
      background-color: var(--line-blue);
  }
/* producto, categoria, marca*/
  .register-container-marca .form-register-marca,
  .register-container-category .form-register-category,
  .register-container-product .form-register-product{
    position: relative;
    margin-top: 16px;
    /* min-height: 450px; */
    overflow: hidden;
  }
  form.secActive .form-first{
      opacity: 0;
      pointer-events: none;
      transform: translateX(-100%);
  }
/* descripcion - producto, categoria, marca */
  .details-marca .title,
  .details-category .title,
  .details-product .title{
    font-weight: 500;  
    font-size: 20px;
    color: #272626;
  }
/* producto, categoria, marca */
  .register-container-marca .form-register-marca .fields,
  .register-container-category .form-register-category .fields,
  .register-container-product .form-register-product .fields{
    display: flex;
    align-items: stretch; /* center */
    justify-content: space-between;
    flex-wrap: wrap;
  }
/* columnas */
  form .fields .input-field-text-area,
  form .fields .input-field-image,
  form .fields .input-field-checkbox-colors,
  form .fields .input-field{
      display: flex;
      width: calc(100% / 4 - 15px);
      flex-direction: column;
      margin: 10px 0;
  }
  form .fields .input-field-b{
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 10px 0;
  }

  .input-field-text-area label,
  .input-field-upload label,
  .input-field-checkbox-colors label,
  .input-field label{
      font-size: 1em;
      font-weight: 500;
      color: #2e2e2e;
  }
  /* inputs cajas txt */
  .text-area-register,
  .input-field-b input,
  .input-field input, select{
      outline: none;
      font-size: 14px;
      font-weight: 400;
      color: #333;
      border-radius: 5px;
      border: 1px solid var(--border-gray);
      padding: 0 15px;
      height: 42px;
      margin: 8px 0;
  }
  /* input caja txt area */
  .text-area-register{
      height: 80px;
      resize: none;
  }
  /* sombra de input seleccionado */
  .input-field input:focus,
  .input-field select:focus{
      box-shadow: 0 3px 6px rgba(138, 10, 10, 0.13);
  }
  .details-btns{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  /* Botones */
   .register-container-product button,/* para listas */
  .register-container-marca form button,
  .register-container-category form button,
  .register-container-product form button{
      color: var(--white);
      display: flex;
      border: none;
      border-radius: .25rem;
      width: 100%;
      font-size: 16px;
      margin: 20px 0;
      align-items: center;
      height: 45px;
      max-width: 160px;
      justify-content: center;
      outline: none;
      cursor: pointer;
      transition: all 0.3s linear;
  }
  /*Color de Botenes */
  .savebtn{
      background-color: var(--green);
  }
  .deletebtn{
      background-color: var(--red);
  }
  .updatelbtn{
  background-color: var(--button-blue);
  }
  .cancelbtn{
      background-color: var(--button-gray);
  }
  form button:hover{
      background-color: var(--fondo);
  }
/* ------Buscador--------- */
.field-search{
  width: 100%;
  display: flex;
  background-color: #ebeff3;
}
.field-search label{
  margin-right: 15px;
 /*  position: relative; */
  font-size: 20px;
  font-weight: 500;
  color: #333;
}
.input-field-search{
  margin: 20px 0;
}
.field-search .button-search{
  margin-left: 15px;
  width: 100px;
}
 form .field-search{
    display: flex;
    width: 100%;
    justify-content: center;
} 
.searchbtn{
  background-color: var(--green);
}
.input-field-search input{
    outline: none;
    font-size: 17px;
    font-weight: 300px;
    color: #333;
    border-radius: 5px;
    border: 1px solid var(--border-gray);
    padding: 0 15px;
    height: 42px;
}

/*------------------- 
--------Filtro-------
--------------------*/
.container-filter{
  margin: 10px 0;
  background-color: #ebeff3; /* ebeff3 */
  
}

.filter-options{
  display: flex;
/*   width: calc(100% / 1 - 15px); */
  flex-direction: row;
  /* justify-content: space-between; */
 /*  margin: 0 15px; */
 padding: 8px;
 justify-content: center

}
.filter-options button{
 margin: 6px 0 0 20px;
 border: none;
 width: 100%;
 border-radius: .25rem;
 font-size: 16px;
 color: var(--white);
 height: 45px;
 cursor: pointer;
 transition: all 0.3s linear;

}
/* 
  display: flex;
    align-items: stretch; center
    justify-content: space-between;
    flex-wrap: wrap; */



  /*dimencion  768 ipad mini*/
  @media (max-width: 768px) {

     /* contenedor */
    .register-container-marca,
    .register-container-category{
      width: 100%;
      margin: 90px 0 0 0;
    }
    /* columnas */
    form .fields .input-field-text-area,
    form .fields .input-field-image,
    form .fields .input-field-checkbox-colors,
    form .fields .input-field{
        width: calc(100% / 3 - 15px);
    }

  



/*       .register-container-product form{
          overflow-y: scroll;
      }
      .register-container-product form::-webkit-scrollbar{
         display: none;
      }
      .register-container-product form button{
          width: 200px;
      } */
   
  /* Botones */
  .register-container-product button,/* para listas */
  .register-container-marca form button,
  .register-container-category form button,
  .register-container-product form button{
    max-width: 130px;
  }

  .filter-options button{
    margin: 6px 0 0 10px;
    border: none;
    width: 100%;
    border-radius: .25rem;
    font-size: 16px;
    color: var(--white);
    height: 45px;
    cursor: pointer;
    transition: all 0.3s linear;
   
   }

  }
  /*dimencion  375 celular*/
  @media (max-width: 375px) {
    /* columnas */
    form .fields .input-field-b{
      display: flex;
      width: calc(100% / 1 - 15px);
      flex-direction: column;
      margin: 10px 0;
    }
    .body-register-marca,
    .body-register-category,
    .body-register-product{
      padding-top: 0;
    }
    
    .register-container-marca,
    .register-container-category,
    .register-container-product{
      height: none;
      min-width: 100%;
      padding-top: none;
      margin: 60px 0 0 0;
    }
    /* titulo */
    .register-container-marca header,
    .register-container-category header,
    .register-container-product header{

      position: relative;
      font-size: 18px;
      font-weight: 600;
    }
    /* subtitulo */
    .details-marca .title,
    .details-category .title,
    .details-product .title{
        font-size: 16px;
    }
    /* txt opcion */
    .input-field-text-area label,
    .input-field-upload label,
    .input-field-checkbox-colors label,
    .input-field label{
      font-size: 12px;
      font-weight: 500;
    }
    /* txt dentro de inputs */
    .text-area-register,
    .input-field input, select{
      outline: none;
      font-size: 13px;
      padding: 0 10px;
      height: 35px;
      margin: 2px 0;
    }
    /* input caja txt area */
    .text-area-register{
      height: 60px;
    }
  .input-field-checkbox-colors .checkbox-container{
    font-size: 12px;
    padding: 12px 15px; 
  }
  form .fields .input-field-text-area,
  form .fields .input-field-image,
  form .fields .input-field-checkbox-colors,
  form .fields .input-field{
    width: 100%;
  }
      
  .register-container-category form button{
    max-width: 50px;
    font-size: 11px;
    margin: 10px 0;
  }
  .register-container-product form button{
    max-width: 60px;
    font-size: 11px;
    margin: 8px 0;
  }

/* Botones form */
  .register-container-product button,/* para listas */
  .register-container-marca form button,
  .register-container-category form button,
  .register-container-product form button{
    max-width: 100px; /* anchura de botones */
  }

  /*----Buscador----*/
  .field-search label{
    /* position: relative; */
    margin: 0 15px;
    font-size: 14px;
  }
  .input-field-search{
    margin: 0;
  }
  .field-search .button-search {
    margin-left: 40%;
  }
  form .field-search {
    flex-direction: column;
  }
  /* botones */
  .register-container-product .button-search button{
    max-width: 70px;
    font-size: 12px;
    margin: 8px 0;
    align-items: center;
  }
  .input-field-search input{
    padding: 0 13px;
    outline: none;
    width: 90%;
    font-size: 12px;
    height: 35px;
    margin: 2px 15px;
}
/* ---- */
/* .field-search .searchbtn{
    max-width: 775px;
    font-size: 13px;
} */

  
}

/*---------------------------------------------
-------------------INICIO----------------------
----------------------------------------------*/
.containerB{
    height: 100vh;
    background-color: var(--fondo2);
}
/*---------------------------------------------
-------------------FILOSOFIA-------------------
---------------------------------------------*/
.container-phi{
  background-color: var(--fondo2);
}
.container-phi .section{
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}
.section .card {
  padding:  25px 30px;
  color: #2d325a;
  font-size: 20px;
  text-align: justify;
}
.section .card .H1{
  color: #3944a1;
}
.section .card .op{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.section .card .Va{
  color: #ffffff;
  padding: 0.5em 1em;
  max-width: 320px;
  display: flex;
  flex-flow: column;
  border-radius: 6px;
  box-shadow: 0 0 5em rgb(0 0 0 / 20%);
  background-color: #2b54a1e5;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  margin: 10px;
}
.section .card .txt{
  font-size: 18px;
}
@media (max-width: 768px){
  .container-phi .section{
    margin: 0px 10px;
  }
  .section .card {
    padding:  15px 20px;
    font-size: 18px;
  }
  .section .card .Va{
    padding: 0.2em 1em;
    width: 280px;
  }
  .section .card .txt{
    font-size: 15px;
  }
}
@media (max-width: 375px){
  .container-phi .section{
    margin: 0px 5px;
  }
  .section .card {
    padding:  8px 15px;
    font-size: 17px;
  }
  .section .card .Va{
    padding: 0.2em 1em;
    width: 280px;
  }
  .section .card .txt{
    font-size: 15px;
  }
}
/*---------------------------------------------
-------------------HISTORIA--------------------
---------------------------------------------*/
.container-hi{
  background-color: var(--fondo2);
}
.container-hi .section{
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}
.container-hi .section .H1{
  margin: 18px 0;
  text-align: center;
  color: #2d325a;
}
.container-hi .section .txt{
  text-align: justify;
  padding:  25px 30px;
  color: #2d325a;
  font-size: 20px;
  text-align: justify;
}
.container-hi .section .H3{
  margin: 15px 0;
  color: #3944a1
}
.container-hi .section .p-txt{
  margin: 12px 0;  
}
@media (max-width: 768px){
  .container-hi .section{
    margin: 0px 10px;
  }
  .container-hi .section .H1{
    margin: 14px 0;
  }
  .container-hi .section .txt{
    padding:  5px 15px;
    font-size: 18px;
  }
  .container-hi .section .p-txt{
    margin: 8px 0;  
  }
}
@media (max-width: 375px){
  .container-hi .section{
    margin: 0px 10px;
    font-size: 12px;
  }
  .container-hi .section .H1{
    margin: 14px 0;
  }
  .container-hi .section .txt{
    padding:  5px 15px;
    font-size: 16px;
  }
  .container-hi .section .H3{
    margin: 0;
  }
  .container-hi .section .p-txt{
    margin: 6px 0;  
  }
}
/*---------------------------------------------
-------------------PRODUCTOS-------------------
---------------------------------------------*/
.container-pro{
  background-color: var(--fondo2);
  height: 100vh;  
}
.container-pro .section{
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}
.container-pro .section .H1{
  margin: 10px 0;
  text-align: center;
  color: #2d325a;
}
/* hasta qui todo chido------------------- */

/* barra buscador y filtro */
.container-pro .bar-filter{
  height: auto;
}

.filter-options{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.filter-options .option-first-row {
    flex-basis: 46%;
}
.filter-options .option-second-row {
    flex-basis: 30%;
}
.filter-options .option-first-row .txtbox{
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid var(--border-gray);
  display: flex;
  width: 100%;
  height: 30px;
  padding-left: 14px;
}

.option-first-row,.option-second-row  .select{
    --ms-tag-font-size: 0.7rem;
    --ms-ring-width: 0px;
    
}

.container-pro .filter-buttons{
  display: flex;
  justify-content: center;
}
.bar-filter .filter-buttons button{
  background-color: var(--green);
  color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: .25rem;
  height: 45px;
  width: 160px;
}

@media (max-width: 768px){
    .filter-options .option-second-row {
        flex-basis: 46%;
    }
}

@media (max-width: 480px){
    .filter-options .option-first-row {
        flex-basis: 100%;
    }
    
    .filter-options .option-second-row {
        flex-basis: 100%;
    }
    
}



/* .container-pro .filter-options label{
  font-size: 15px;
}
.container-pro .filter-options{
  font-size: 10px;
} */








/*----plantilla de un producto----*/
.container-pro .section .content{
  display: flex;
  flex-wrap: wrap;
  /* background-color: #d897f7d5; */
}
.container-pro .card-item{
  padding: 0.5em 1em;
  max-width: 280px;
  display: flex;
  flex-flow: column;
  border-radius: 6px;
  box-shadow: 0 0 0.1em rgb(0 0 0 / 20%);
  background-color: var(--white);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  margin: 10px;
}
.card-item .im{
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.card-item .info{
  border-top: 1px solid rgb(245, 237, 237);/* linea */
  padding: 4px 0;
  display: flex;
  flex-flow: column;
}
.card-item .sku{
  background-color: #3944a1;
  color: rgb(255, 255, 255);
  font-weight: 600;
  max-width: max-content;
  padding: 0 0.2em;
  border-radius: 3px;
  font-size: 12px;
}
.card-item .name {
  margin-top: 0.3em;
  font-size: 16px;
  color: rgb(255, 56, 92);
}
.card-item .brand{
  font-weight: 600;
  font-size: 12.5px;
  text-transform: uppercase;
}
.card-item .model{
  color: rgb(172, 64, 64);
  font-size: 14px;
}
.card-item .description{
  color: rgb(50, 50, 50);
  font-size: 12px;
}
.card-item .product-a .buttons{
  display: flex;
  justify-content: space-evenly;
}

.card-item .product-a .buttons button{
  color: #ffffff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: .25rem;
  height: 25px;
  width: 60px;
}
.card-item .product-a .edit{
  background-color: var(--button-blue);
}
.card-item .product-a .delete{
  background-color: var(--red);
}


/*---------------------------------------------
-------------------COTIZACION------------------
---------------------------------------------*/




/*---------------------------------------------
--------------------ACCESO---------------------
---------------------------------------------*/

  .login-litle{
    margin: 2em auto;/* altura */
  }
  .login-body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    /* background-color: var(--fondo); */
    display: flex;
    align-items: start;
/*     padding-top: 10px; */
    justify-content: center;
  }
  .login-container {
    height: 43.75em;
    width: 62em;
    border-radius: 3px;
    display: flex;
    align-self: center;
    justify-content: center;
    overflow: hidden;
  }
  .login-info-container {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--fondoForm);
  }
  .login-image-container {
    display: inline-flex;
    width: 50%;
  }
  .login-litle {
    text-transform: capitalize;
    font-size: 2.15rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--white);
  }
  .login-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
  }
  .login-form {
    height: 55%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .login-input, .login-btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
  }
  .login-input {
   /*  background-color: #3a406e; */
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
  }
/*   .login-input:hover {
    border: 2px solid var(--button-bg);
  } */
  .login-btn {
    padding: 15px;
    width: 40%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    border-radius: 5px;
    background-color: var(--button-blue);
    cursor: pointer;
    font-weight: bold;
  }

 /*  .login-btn:disabled {
    background-color: var(--disabled-button);
  } */

  .login-form p {
    margin: 0;
  }
  .login-span {
    color: var(--light-blue);
    font-weight: 600;
    cursor: pointer; 
  }
@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }
    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }
    
    .login-image-container {
        display: none;
    }  
} 
@media screen and (max-width: 480px) {
  .login-container {
    height: 40em;
    width: 28em;
  }
  .login-litle {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .login-form {
    height: 100%;
    width: 85%;
  }
  .login-input, .login-btn {
    width: 95%;
    height: 3rem;
    font-size: 1em;
  }
  .login-input {
    padding-left: 20px;
  }
  .login-btn {
    padding: 10px;
    width: 35%;
  }
  .login-form p {
    margin: 0;
  }
  .login-span {
    font-weight: 400;
  }
}

/*---------------------------------------------
-------------------SISTEMA-WEB-----------------
---------------------------------------------*/