@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css');

/*
----------------------------------------------
--MENU
----NADVAR
----LOGIN
----FORM REGISTER
----ARTICLE REGISTER
----------------------------------------------
*/
:root{
    --fondo:#25294a;
    --fondo2:#e9ecf7;
    --fondoForm:#2d325a;
    --white: #ffffff;
    --yellow:  #f0e556 ;
    --light-blue: #51b1dd;
    --borderForm: #3944a1;
    --button-blue: #0084ff;     
    --border-gray: #aaa;
    --button-gray: #777D74;
    --line-blue: #4070f4;
    --red: #e31b23;
    --green: #18ac18;
    --disabled-button: #777D74;

  }
  
  /*
  ----------------------------------------------
  -----GLOBAL
  ----------------------------------------------
  */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  a{
    color: inherit;
    text-decoration: none;
  }
  /*
  ----------------------------------------------
  -----NAVBAR
  ----------------------------------------------
  */
  nav{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;/* para celular si funciona */
    background: var(--fondo);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  nav .divNav{
    height: 100%;
    max-width: 1550px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
  }
  .divNav .logoNav a{
    font-size: 50px;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
  }
  nav .divNav .navlinks{
    line-height: 90px;
    height: 100%;
  }
  nav .divNav .links-option{
    display: flex;
  }
  nav .divNav .links-option li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
  }
  nav .divNav .links-option li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: var(--white);
    font-size: 25px;
    font-weight: 500;
  }
  .links-option li:hover .htmlcss-arrow,
  .links-option li:hover .js-arrow{
    transform: rotate(180deg);
    }
  
  nav .divNav .links-option li .arrow{
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: var(--white);
    transition: all 0.3s ease;
  }
  nav .divNav .links-option li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 55px;
    background: var(--fondo);
    box-shadow: 0 1px 2px rgba(179, 92, 92, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .divNav .links-option li:hover .htmlCss-sub-menu,
  nav .divNav .links-option li:hover .js-sub-menu{
    display: block;
  }
  .divNav .links-option li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(163, 60, 60, 0.753);
  }
  .divNav .links-option li .sub-menu a{
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
  }

  .divNav .links-option li .sub-menu .more-arrow{
    line-height: 40px;
  }
  .divNav .links-option li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links-option li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .divNav .navlinks .sidebarLogo{
    display: none;
  }
  .divNav .bx-menu{
    display: none;
  }
  @media (max-width:1124px) {
    nav .divNav{
      max-width: 100%;
      padding: 0 25px;
    }
    nav .divNav .logoNav a{
      font-size: 30px;
    }
    nav .divNav .links-option li{
      padding: 0 10px;
      white-space: nowrap;
    }
    nav .divNav .links-option li a{
      font-size: 18px;
    }
    .divNav .links-option li .sub-menu a{
      font-size: 15px;
    }
  }
    /*dimencion  768 x 1024 ipad */
  @media (max-width:800px){
    nav{
      position: relative;
    }
    .divNav .bx-menu{
      display: block;
    }
    /* colum menu */
    nav .divNav .navlinks{
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      background:  var(--fondo);
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }
    .divNav .navlinks .sidebarLogo{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sidebarLogo .menuNav{
      font-size: 30px;
      color: var(--white);
    }
    .sidebarLogo  i,
    .divNav .bx-menu{
      font-size: 50px;
      color: var(--white);
    }
    nav .divNav .links-option{
      display: block;
      margin-top: 20px;
    }
    nav .divNav .links-option li .arrow{
      line-height: 40px;
    }
  nav .divNav .links-option li{
      display: block;
    
    }
  
  .divNav .links-option li .sub-menu a{
      font-size: 20px;   
    }
  
  nav .divNav .links-option li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .divNav .links-option li .sub-menu li{
    border-bottom: none;
  
  }
  .divNav .links-option li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .divNav .links-option li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links-option li:hover .htmlcss-arrow,
  .links-option li:hover .js-arrow{
    transform: rotate(0deg);
    }
    .divNav .links-option li .sub-menu .more-sub-menu{
      display: none;
    }
    .divNav .links-option li .sub-menu .more span{
      /* background: red; */
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
    }
  
    .links-option li .sub-menu .more:hover .more-sub-menu{
      display: none;
    }
    nav .divNav .links-option li:hover .htmlCss-sub-menu,
    nav .divNav .links-option li:hover .js-sub-menu{
      display: none;
    }
  .divNav .navlinks.show1 .links-option .htmlCss-sub-menu,
    .divNav .navlinks.show3 .links-option .js-sub-menu,
    .divNav .navlinks.show2 .links-option .more .more-sub-menu{
        display: block;
      }
      .divNav .navlinks.show1 .links-option .htmlcss-arrow,
      .divNav .navlinks.show3 .links-option .js-arrow{
          transform: rotate(180deg);
  }
      .divNav .navlinks.show2 .links-option .more-arrow{
        transform: rotate(90deg);
      }
  }
  /* dimencion 375 de celular */
  @media (max-width:375px){
    nav .divNav .navlinks{
    max-width: 100%;
  }
  /* colum menu */
  nav .divNav .navlinks{
    max-width: 200px;
    line-height: 25px;
    padding: 10px;
  }
  .sidebarLogo .menuNav{
    font-size: 20px;
    color: var(--white);
  }
  .sidebarLogo  i,
  .divNav .bx-menu{
    font-size: 30px;
    color: var(--white);
  }
  nav .divNav .links-option{
    display: block;
    margin-top: 15px;
  }
  nav .divNav .links-option li .arrow{
    line-height: 30px;
  }
.divNav .links-option li .sub-menu a{
    font-size: 15px;   
  }
}
    
  /*
  ----------------------------------------------
  -----LOGIN
  ----------------------------------------------
  */
  .login-litle{
    margin: 2em auto;/* altura */
  }
  .login-body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: var(--fondo);
    display: flex;
    align-items: start;
/*     padding-top: 10px; */
    justify-content: center;
  }
  .login-container {
    height: 43.75em;
    width: 62em;
  /*   margin: 2em ; */
    border-radius: 3px;
    display: flex;
    align-self: center;
    justify-content: center;
    /* flex-direction: row; */
    overflow: hidden;
  }
  .login-info-container {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--fondoForm);
  }
  .login-image-container {
    display: inline-flex;
   /*  padding: 2rem; */
    width: 50%;
  }
  .login-litle {
    text-transform: capitalize;
    font-size: 2.15rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--white);
  }
  .login-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
  }
  .login-form {
    height: 55%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .login-input, .login-btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
  }
  .login-input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
  }
/*   .login-input:hover {
    border: 2px solid var(--button-bg);
  } */
  .login-btn {
    padding: 15px;
    width: 40%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    border-radius: 5px;
    background-color: var(--button-blue);
    cursor: pointer;
    font-weight: bold;
  }

  .login-btn:disabled {
    background-color: var(--disabled-button);
  }

  .login-form p {
    margin: 0;
  }
  .login-span {
    color: var(--light-blue);
    font-weight: 600;
    cursor: pointer; 
  }
@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }
    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }
    
    .login-image-container {
        display: none;
    }  
}
  
/* @media screen and (max-width: 650px) {
  .login-container {
     width: 90%;
}
  } */
  
@media screen and (max-width: 480px) {
  .login-container {
    height: 40em;
    width: 28em;
  }
  .login-litle {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .login-form {
    height: 100%;
    width: 85%;
  }
  .login-input, .login-btn {
    width: 95%;
    height: 3rem;
    font-size: 1em;
  }
  .login-input {
    padding-left: 20px;
  }
  .login-btn {
    padding: 10px;
    width: 35%;
  }
  .login-form p {
    margin: 0;
  }
  .login-span {
    font-weight: 400;
  }
}
  /*
  ----------------------------------------------
  -----REGISTER USER
  ----------------------------------------------
  */ 
  /* select {
    appearance: none;
  } */
/*   select::-ms-expand {
    display: none;
  } */
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--white);
  }
  ul {
    list-style: none;
  }
  .register-body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: var(--fondo);
    display: flex;
    justify-content: center;
    padding-top: 150px;
/*     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  }
  .register-container {
    height: 600px;
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: var(--fondoForm);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  /* form elements */
  .register-container header{
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: var(--white);
    letter-spacing: 1px;
    padding-top: 20px; 
    display: flex; 
    justify-content: center;
    margin: 20px;
  }
  .register-form li,
  .register-form .grid > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .register-form select,
  .register-form input{
    border-radius: .25rem;
    width: 100%;
    font-size: 18px;
   /*  line-height: 2; */
    height: 3.125rem;
    padding: 15px 15px;
    border: 1px solid var(--borderForm);
    background: var(#e9ecf7);
    /* transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
      transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25); */
  }
  .register-form button{
    padding: 15px;
    width: 50%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    border-radius: 5px;
    background-color: var(--button-blue);
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.9;
/* transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
   transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25); */
  }
  .register-form ::placeholder {
    color: inherit;
    opacity: 1;
  }
  .register-form select:focus,
  .register-form input:focus,
  .register-form textarea:focus,
  .register-form button:enabled:hover,
  .register-form button:focus,
  .register-form input[type="checkbox"]:focus + label {
    background: var(--fondoForm);
  }
/*   .register-form select:focus,
  .register-form input:focus,
  .register-form textarea:focus {
    transform: scale(1.02);
  } */
  .register-form *:required,
  .register-form select {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 15px 15px;
  }
  .register-form *:required {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);  
  }
  .register-form select {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
  }
  .register-form *:disabled {
    cursor: default;
    filter: blur(2px);
  }
  /* form buttons*/
  .register-form .required-msg {
    display: none;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
      no-repeat center left / 15px 15px;
    padding-left: 20px;
  }
  .register-form .btn-register {
    width: 20%;
    overflow: hidden;
    transition: filter 0.2s;
  }
  .flex-container-register{
    display: flex ;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  /* .register-form button {
    font-weight: bold;
  } */
  .register-form button > * {
    display: inline-block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
  }
  
/*   .register-form button .back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-110%, -50%);
  } */
  .register-form button:enabled:hover .back,
  .register-form button:focus .back {
    transform: translate(-50%, -50%);
  }
  
  .register-form button:enabled:hover .front,
  .register-form button:focus .front {
    transform: translateX(110%);
  }
  
  @media screen and (min-width: 760px) {
    .register-form .grid {
      display: grid;
      grid-gap: 1.5rem;
    }
  
    .register-form .grid-2 {
      grid-template-columns: 1fr 1fr;
    }
  
    .register-form .grid-3 {
      grid-template-columns: auto auto auto;
      align-items: center;
    }
  
    .register-form .grid > *:not(:last-child) {
      margin-bottom: 0;
    }
  
    .register-form .required-msg {
      display: block;
    }
  
  }
  @media screen and (min-width: 480px) {
    
    .register-body{
      padding-top: 20px;
    }
    .register-container {
      height: 100vh;
      width: 100%;
      padding: 25px;
      margin: none;
    }
    .register-form .grid {
      display: grid;
      grid-gap: 1.5rem;
    }
    .register-form .grid-2 {
      grid-template-columns: 1fr;
    }
    .register-form .grid-3 {
      grid-template-columns: auto auto auto;
      align-items: center;
    }

    .register-form .grid > *:not(:last-child) {
      margin-bottom: 0;
    }  


/*     .register-form .required-msg {
      display: block;
    } */
  
  }
  /*
  ----------------------------------------------
  -----ARTICLE, PRODUCT, BRAND
  ----------------------------------------------
  */
  /* producto, categoria, marca */
  .body-register-marca,
 /*  .body-register-category, */
  .body-register-product{
      height: 100vh;
      display: flex;
      align-items: start;
      padding-top: 15px;
      justify-content: center;
      background: var(--fondo2);
  }
  .body-register-category{
    height: 100%;
    display: flex;
    justify-content: center;
    background: var(--fondo2);
  }
  /* producto, categoria, marca */
  .register-container-marca,
  .register-container-category,
  .register-container-product{
      position: relative;
      max-width: 900px;
      width: 100%;
      border-radius: 6px;
      padding: 30px;
      margin: 0 15px;
      background-color: #fff;
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .register-container-marca,
  .register-container-category{
    height: 500px;
  }
  /* producto, categoria, marca */
  .register-container-marca header,
  .register-container-category header,
  .register-container-product header{
      position: relative;
      font-size: 30px;
      font-weight: 500;
      color: #333;
  }
  /* producto, categoria, marca */
  .register-container-marca header::before,
  .register-container-category header::before,
  .register-container-product header::before{
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      height: 3px;
      width: 100%;
      border-radius: 8px;
      background-color: var(--line-blue);
  }
/* producto, categoria, marca*/
  .register-container-marca .form-register-marca,
  .register-container-category .form-register-category,
  .register-container-product .form-register-product{
      position: relative;
      margin-top: 16px;
      min-height: 490px;
      /* background-color: var( --fondo2); */
      overflow: hidden;
  }
  form.secActive .form-first{
      opacity: 0;
      pointer-events: none;
      transform: translateX(-100%);
  }
/* producto, categoria, marca */
  .details-marca .title,
  .details-category .title,
  .details-product .title{
      font-size: 1.5em;
      color: #272626;
  }
/* producto, categoria, marca */
  .register-container-marca .form-register-marca .fields,
  .register-container-category .form-register-category .fields,
  .register-container-product .form-register-product .fields{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
  }
/* general */
  form .fields .input-field-text-area,
  form .fields .input-field-image,
  form .fields .input-field-checkbox-colors,
  form .fields .input-field{
      display: flex;
      width: calc(100% / 2 - 15px);
      flex-direction: column;
      margin: 10px 0;
  }
  .input-field-text-area label,
  .input-field-upload label,
  .input-field-checkbox-colors label,
  .input-field label{
      font-size: 1em;
      font-weight: 500;
      color: #2e2e2e;
  }
  .text-area-register,
  .input-field input, select{
      outline: none;
      font-size: 14px;
      font-weight: 400;
      color: #333;
      border-radius: 5px;
      border: 1px solid var(--border-gray);
      padding: 0 15px;
      height: 42px;
      margin: 8px 0;
  }
  .text-area-register{
      height: 150px;
      resize: none;
  }
  .input-field input:focus,
  .input-field select:focus{
      box-shadow: 0 3px 6px rgba(0,0,0,0.13);
  }
  .details-btns{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  /* producto, categoria, marca */
  .register-container-marca form button,
  .register-container-category form button,
  .register-container-product form button{
      color: var(--white);
      display: flex;
      border: none;
      border-radius: .25rem;
      width: 100%;
      font-size: 16px;
      margin: 20px 0;
      align-items: center;
      height: 45px;
      max-width: 170px;
      justify-content: center;
      outline: none;
      cursor: pointer;
      transition: all 0.3s linear;
  }
  /* Botenes */
  .savebtn{
      background-color: var(--green);
  }
  .deletebtn{
      background-color: var(--red);
  }
  .updatelbtn{
  background-color: var(--button-blue);
  }
  .cancelbtn{
      background-color: var(--button-gray);
  }
  form button:hover{
      background-color: var(--fondo);
  }
/* --------------------------------------------------------- */
/* flield-search */
.field-search{
  width: 100%;
  display: flex;
  background-color: #cbdff1;
}
.field-search label{
  margin-right: 15px;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #333;
}
.input-field-search{
  margin: 20px 0;
}
.field-search .button-search{
  margin-left: 15px;
  width: 100px;
}
 form .field-search{
    display: flex;
    width: 100%;
    justify-content: center;
} 
.searchbtn{
  background-color: var(--green);
}
.input-field-search input{
    outline: none;
    font-size: 17px;
    font-weight: 300px;
    color: #333;
    border-radius: 5px;
    border: 1px solid var(--border-gray);
    padding: 0 15px;
    height: 42px;
}
/* ------------------------------------------------------------------------ */
  /*dimencion  768 ipad */
  @media (max-width: 768px) {
      .register-container-product form{
          overflow-y: scroll;
      }
      .register-container-product form::-webkit-scrollbar{
         display: none;
      }
      .register-container-product form button{
          width: 120px;
      }
  }
  /*dimencion  375 celular*/
  @media (max-width: 375px) {

  .body-register-marca,
  .body-register-category,
  .body-register-product{
   /* min-height: 100vh; */
    padding-top: 5px;
  }

  .register-container-marca,
  .register-container-category,
  .register-container-product{
    height: 450px;
    min-width: 100%;
    padding-top: none;
  }
  .register-container-marca header,
  .register-container-category header,
  .register-container-product header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
  }
  .details-marca .title,
  .details-category .title,
  .details-product .title{
      font-size: 18px;
  }
  .input-field-text-area label,
  .input-field-upload label,
  .input-field-checkbox-colors label,
  .input-field label{
    font-size: 12px;
    font-weight: 500;
  }
  .text-area-register,
  .input-field input, select{
    outline: none;
    font-size: 13px;
    padding: 0 10px;
    height: 35px;
    margin: 2px 0;
  }
  .text-area-register{
    height: 120px;
    resize: none;
  }
  .input-field-checkbox-colors .checkbox-container{
    font-size: 12px;
    padding: 12px 15px; 
  }
  form .fields .input-field-text-area,
  form .fields .input-field-image,
  form .fields .input-field-checkbox-colors,
  form .fields .input-field{
    width: 100%;
  }
      
  .register-container-category form button{
    max-width: 50px;
    font-size: 11px;
    margin: 10px 0;
  }
  .register-container-product form button{
    max-width: 60px;
    font-size: 11px;
    margin: 8px 0;
  }
  /* flield-search */

  .register-container-product .button-search button{
    max-width: 60px;
    font-size: 11px;
    margin: 8px 0;
  }

form .field-search {
  display: flex;
  width: 100%;
  flex-direction: column;
  
  }
.field-search label{
  position: relative;
  font-size: 15px;
}
.input-field-search{
  margin: 0;
 
}
.field-search .button-search {
/*   margin-left: 15px; */
  justify-content: flex-end;
  width: 100px;
}

.field-search .searchbtn{
    max-width: 75px;
    font-size: 13px;
}
.input-field-search input{
    padding: 0 13px;
    outline: none;
/*     width: 100%; */
    font-size: 13px;
    height: 35px;
    margin: 2px 0;
}

    
  
  }
  
  /*------------------------------------------------ 
  ------modelo de un producto, para llenar /productosMirsa
  --------------------------------------------------
  */

  .body-productosMirsa{
    
   /*
   height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; */
    background-color: var(--fondo);
  }
.container-allproducts{
  display: grid;
  grid-template-columns: repeat(5, 1fr) ;
  gap: 40px;
  margin: 40px 40px;
}

/* display: flex;
align-items: center;
justify-content: space-between; */




  .product-card {
    position: relative;
    justify-content: space-between;
    /* max-width: 355px; */
    /* width: 100%; */
    border-radius: 25px;
    padding: 20px 30px 30px 30px;
    background: rgb(216, 203, 203);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    overflow: hidden;
  }
  .product-card .logo-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product-card .logo-cart img{
    height: 60px;
    width: 60px;
    object-fit: cover;
  }
/*   .product-card .logo-cart i{
    font-size: 27px;
    color: #707070;
    cursor: pointer;
    transition: color 0.3s ease;
  } */
 /*  .product-card .logo-cart i:hover{
    color: #333;
  } */
  .product-card .main-images{
    position: relative;
    height: 210px;
    /* background-color: #0084ff; */
  }
  .product-card .main-images img{
    position: absolute;
    height: 210px;
    width: 200px;
    object-fit: cover;
    /* transform: rotate(18deg); */
   /*  left: 12px; */
    top: -10px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin: 0 35px;
  }
  .product-card .main-images img.active{
    opacity: 1;
  }
  .product-card .details-card .product-name{
    font-size: 24px;
    font-weight: 500;
    color: #161616;
  }
  .product-card .details-card p{
    font-size: 12px;
    font-weight: 400;
    color: #333;
    text-align: justify;
  }
 /*  .product-card .details-card .stars i{
    margin: 0 -1px;
    color: #333;
  } */
  .product-card .color-price .color-option{
    display: flex;
    align-items: center;
  }
  .color-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  .color-price .color-option .color{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-right: 8px;
  }
  .color-option  .circles{
    display: flex;
  }
  .color-option  .circles .circle{
    height: 18px;
    width: 18px;
    background: #0071C7;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .color-option  .circles .circle.blue.active{
    box-shadow: 0 0 0 2px #fff,
                 0 0 0 4px #0071C7;
  }
  .color-option  .circles .circle.pink{
    background: #FA1795;
  }
  .color-option  .circles .circle.pink.active{
    box-shadow: 0 0 0 2px #fff,
                 0 0 0 4px #FA1795;
  }
  .color-option  .circles .circle.yellow{
    background: #F5DA00;
  }
  .color-option  .circles .circle.yellow.active{
    box-shadow: 0 0 0 2px #fff,
                 0 0 0 4px #F5DA00;
  }
  .color-price .price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .color-price .price .price_num{
    font-size: 25px;
    font-weight: 600;
    color: #707070;
  }
  /* .color-price .price .price_letter{
    font-size: 10px;
    font-weight: 600;
    margin-top: -4px;
    color: #707070;
  } */
  .product-card .button{
    position: static;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    margin-top: 25px;
    overflow: hidden;
    background-color: var(--button-blue);
  }
  .product-card .button-add{
  /*   position: absolute;
    height: 100%;
    width: 300%; */
    /* left: -100%; */
    /* background-color: var(--button-blue); */
  /*   transition: all 0.4s ease; */
    /* border-radius: 25PX; */
  }
  /* .product-card .button:hover .button-add{
    left: 0;
  } */
  .product-card .button button{
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
  }
 /*  @media (max-width: 950px) {
    .container-allproducts{
      grid-template-columns: repeat(4, 1fr) ;
      gap: 30px;
      margin: 30px;
    }
    .product-card {
    border-radius: 25px;
    padding: 10px 20px 20px 15px;
    }
    .product-card .main-images{
      height: 150px;
    }
    .product-card .main-images img{
      height: 140px;
      width: 160px;
      top: 0px;
      margin: 0 17px;
    }
    .product-card .details-card .product-name{
      font-size: 18px;
      font-weight: 600;
    }
    .product-card .details-card p{
      font-size: 13px;
      text-align: justify;
    }
    .product-card .color-price .color-option{
      flex-wrap: wrap;
    }
    .color-price{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
      flex-wrap: wrap;
    }
    .color-price .color-option .color{
      font-size: 18px;
      font-weight: 500;
      margin-right: 8px;
    }
    .color-price .price .price_num{
      font-size: 22px;
      font-weight: 500;
    }
    .product-card .button{
      height: 40px;
      margin-top: 12px;
    }
    .product-card .button button{    
      font-size: 13px;
      font-weight: 500;
    }
  }
 */
  @media (max-width: 786px) {
    .container-allproducts{
      grid-template-columns: repeat(3, 1fr) ;
      gap: 30px;
      margin: 30px;
    }
    .product-card {
    border-radius: 25px;
    padding: 10px 20px 20px 15px;
    }
    .product-card .main-images{
      height: 150px;
    }
    .product-card .main-images img{
      height: 140px;
      width: 160px;
      top: 0px;
      margin: 0 17px;
    }
    .product-card .details-card .product-name{
      font-size: 18px;
      font-weight: 600;
    }
    .product-card .details-card p{
      font-size: 13px;
      text-align: justify;
    }
    .product-card .color-price .color-option{
      flex-wrap: wrap;
    }
    .color-price{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
      flex-wrap: wrap;
    }
    .color-price .color-option .color{
      font-size: 18px;
      font-weight: 500;
      margin-right: 8px;
    }
    .color-price .price .price_num{
      font-size: 22px;
      font-weight: 500;
    }
    .product-card .button{
      height: 40px;
      margin-top: 12px;
    }
    .product-card .button button{    
      font-size: 13px;
      font-weight: 500;
    }
  }
  @media (max-width: 375px) {
    .container-allproducts{
      grid-template-columns: repeat(1, 1fr) ;
      gap: 15px;
    }
    /* .product-card {
    padding: 10px 25px 12px 25px;
    } */
    .product-card .main-images{
      height: 100px;
    }
    .product-card .main-images img{
      height: 100px;
      width: 100px;
      top: 0px;
      margin: 0;
    }
    .product-card .details-card .product-name{
      display: flex;
      flex-direction: row-reverse;
      margin-top: -100px;
      font-size: 18px;
      font-weight: 600;
    }
    .product-card .details-card p{
      font-size: 13px;
      width: 50%;
      text-align: justify;
      background-color: #0071C7;
    }
    .color-price{
      margin-top: 35px;
    }
    .color-price .color-option .color{
      font-size: 18px;
      font-weight: 400;
      margin-right: 8px;
    }
    .color-price .price .price_num{
      font-size: 15px;
      font-weight: 400;
    }
    .product-card .button{
      height: 30px;
      width: 140px;
      margin-top: 4px;
    }
    .product-card .button button{    
      font-size: 10px;
      font-weight: 400;
    }
  }
  