


/*---------------------------------------------------------------------
                               Login Mirsa
-----------------------------------------------------------------------*/

.Login-Mirsa { height: 100vh; background: #2d325a !important; }
.Login-Detalle { padding: 100px; height: 100vh; }
.Login-logo { display: inline-block; width: 100%; }
.Login-logo img { height: 50px; }
.Login-formulario { padding: 0 50px; }



