



/*---------------------------------------------------------------------
General
-----------------------------------------------------------------------*/

::selection { background: #0084ff; color: #ffffff; text-shadow: none; }
body { font-family: 'Poppins', sans-serif; font-weight: 400; font-style: normal; font-size: 14px; line-height: 1.8; padding: 0; margin: 0; color: #777D74; background: #f3f7fd; }
a, button, input, btn { outline: medium none !important; }

h1{ font-family: 'Questrial', sans-serif; font-weight: 600; margin: 0px; line-height: 2; color: #f0f0f0; }
label { font-weight: normal; }
h1 { font-size: 3.052em; }


/*----------------------------------------------
Input
------------------------------------------------*/
label { color: #dddddd; }
.form-control { height: 45px; line-height: 45px; background: #e9edf4; border: 0px solid #d7dbda; font-size: 14px; color: #777D74; }
